.container
  max-width: 1200px
  margin: 0 auto

.row + .row
  margin-top: 20px

.number
  width: 20px
  margin-right: 19px

.client
  width: 168px
  margin-right: 24px

.project
  flex: 1
  margin-right: 44px

.category
  width: 168px
  margin-right: 24px

.type
  width: 168px
