menuInnerOpen()
  .menuInner
      height: 146px
      @media (max-width: 767px)
        height: 136px
      .menuUpper
        opacity: 1
        transition: opacity .4s cubic-bezier(.25, .1, .25, 1)
      .menuDescription
        opacity: 1
        transition: opacity .4s cubic-bezier(.25, .1, .25, 1)

.menu
  bottom: 17px
  border-radius: 24px
  width: 210px
  padding: 13px 16px 18px
  left: 50%
  transition: transform .3s cubic-bezier(0, 0, .35, 1) 0.5s
  @media (max-width: 767px)
    width: 264px
    padding: 15px 20px 20px

  .menuInner
    transition: height .4s cubic-bezier(.25, .1, .25, 1)
  .menuUpper
    transition: opacity .2s ease-out

:global(.no-touchevents)
  .menu:hover
      menuInnerOpen()

:global(.touchevents)
  .menuOpen
      menuInnerOpen()

.menuDescription
  margin-bottom: 8px
  @media (max-width: 767px)
    margin-bottom: 4px

.menuHidden
  transform: translate(-50%, 70px)

.menuVisible
  transform: translate(-50%, 0)

.logoBox
  width: 22px
  left: 16px
  top: 14px
  @media (max-width: 767px)
    top: 16px
    left: 18px

.contact
  margin-top: 4px
  @media (max-width: 767px)
    margin-top: 7px

.contact
.language
  padding: 4px 0
  @media (max-width: 767px)
    padding: 6px 0 7px
