.menu
  bottom: 17px
  border-radius: 24px
  width: 210px
  padding-top: 13px
  padding-bottom: 18px
  left: 50%
  transition: transform .3s cubic-bezier(0, 0, .35, 1) 0.5s

  .menuInner
    transition: height .4s cubic-bezier(.25, .1, .25, 1)
  .menuUpper
    transition: opacity .2s ease-out

  &:hover
    .menuInner
        height: 146px
        .menuUpper
          opacity: 1
          transition: opacity .4s cubic-bezier(.25, .1, .25, 1)
        .menuDescription
          opacity: 1
          transition: opacity .4s cubic-bezier(.25, .1, .25, 1)


.menuHidden
  transform: translate(-50%, 70px)

.menuVisible
  transform: translate(-50%, 0)

.logoBox
  width: 22px
  left: 16px
  top: 14px
