@font-face
  font-family: 'Favorit Pro Book'
  src: url('/fonts/FavoritPro-Book.woff2') format('woff2'),
  url('/fonts/FavoritPro-Book.woff') format('woff')
  font-weight: normal
  font-style: normal
