@tailwind base;
@tailwind components;
@tailwind utilities;

html
  font-family: Favorit Pro Book, Helvetica, sans-serif
  font-weight: normal
  font-size: 14px
  line-height: (17 / 14)
  letter-spacing: 0.1px
  color: #262626
  font-feature-settings: "ss03", "ss04"

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

:focus
  outline: none !important
