.img
  user-drag: none
  user-select: none

.slide
  -webkit-transform: translate3d(0, 0, 0)

.slide + .slide
  margin-left: 24px
  @media (max-width: 767px)
    margin-left: 12px
  @media (min-width: 1440px)
    margin-left: 0

.gallery
  transition: height 0.4s ease-in-out, opacity 0.1s ease-in
  opacity: 0
  @media (min-width: 1440px)
    margin-left: 275px
    margin-right: 45px
  &Open
    transition: height 0.4s ease-in-out, opacity 0.3s ease-out 0.2s
    opacity: 1
  &Content
    padding-top: 33px
    padding-bottom: 35px
  &Inner
    transition: transform .4s ease-in-out
    -webkit-backface-visibility: hidden
  @media (min-width: 1201px) and (max-width: 1439px)
    width: 100vw
    margin-left: calc(-1 * (100vw - 1200px) / 2);

.caption
  margin-top: 10px

.arrow
  width: 20px
  height: 36px
  transform: translate(-50%, -50%)

:global(.touchevents)
  .arrow
    display: none

.button
  top: 33px
  bottom: 60px
  cursor: none

// 24px is gallery's left padding
// 2 * 16px is gallery's gap and next slide's piece
.buttonPrev
  width: calc((100vw - 24px - 2 * 12px) / 2 + 24px)
.buttonPrevOnly
  width: calc(100vw - 2 * 12px)
.buttonPrevVideo
  width: calc((100vw - 24px - 2 * 12px) / 4 + 24px) // 1/4 of slide'w width + left padding
  top: 70px;
  bottom: 130px

.buttonNext
  width: calc(((100vw - 24px) - 2 * 12px) / 2 + 2 * 12px) // half a slide + gap + next slide's piece
  left: calc(24px + ((100vw - 24px) - 2 * 12px) / 2) // left padding + half a slide
.buttonNextOnly
  width: calc(100% - 24px)
  left: 24px
.buttonNextVideo
  width: calc(((100vw - 24px) - 2 * 12px) / 4 + 2 * 12px) // quarter a slide + gap + next slide's piece
  left: calc(24px + ((100vw - 24px) - 2 * 12px) * 3 / 4) // left padding + 3/4 a slide
  top: 70px;
  bottom: 130px

// 263px is gallery's left padding
// 2 * 24px is gallery's gap and next slide's piece
@media (min-width: 768px)
  .buttonPrev
    width: calc(((100vw - 263px) - 2 * 24px) / 2 + 263px)
  .buttonPrevOnly
    width: calc(100vw - 2 * 24px)
  .buttonPrevVideo
    width: calc(((100vw - 263px) - 2 * 24px) / 4 + 263px) // 1/4 of slide'w width + left padding
    top: 70px;
    bottom: 130px

  .buttonNext
    width: calc((100vw - 263px - 2 * 24px) / 2 + 24px * 2)
    left: calc(263px + (100vw - 263px - 2 * 24px) / 2)
  .buttonNextOnly
    width: calc(100% - 24px)
    left: 263px
  .buttonNextVideo
    width: calc((100vw - 263px - 2 * 24px) / 4 + 24px * 2)
    left: calc(263px + (100vw - 263px - 2 * 24px) * 3 / 4)
    bottom: 130px
    top: 70px;

// 275px is gallery's left padding
// 2 * 24px is gallery's gap and next slide's piece
@media (min-width: 870px)
  .buttonPrev
    width: calc(((100vw - 275px) - 2 * 24px) / 2 + 275px)
  .buttonPrevOnly
    width: calc(100vw - 2 * 24px)
  .buttonPrevVideo
    width: calc(((100vw - 275px) - 2 * 24px) / 4 + 275px) // 1/4 of slide'w width + left padding
    bottom: 130px
    top: 70px;

  .buttonNext
    width: calc((100vw - 275px - 2 * 24px) / 2 + 24px * 2)
    left: calc(275px + (100vw - 275px - 2 * 24px) / 2)
  .buttonNextOnly
    width calc(100% - 24px)
    left 275px
  .buttonNextVideo
    width: calc((100vw - 275px - 2 * 24px) / 4 + 24px * 2)
    left: calc(275px + (100vw - 275px - 2 * 24px) * 3 / 4)
    bottom: 130px
    top: 70px;


// 275px is gallery's left padding
// (100vw - 1200px) / 2 is left padding
// 878px is slide's fixed width
@media (min-width: 1200px)
  .buttonPrev
    width: calc((100vw - 1200px) / 2 + 275px + 878px / 2)
  .buttonPrevOnly
    width: calc(275px + (100vw - 1200px) / 2 + 878px)
  .buttonPrevVideo
    width: calc((100vw - 1200px) / 2 + 275px + 878px / 4)
    bottom: 130px
    top: 70px;

  .buttonNext
    width: calc(878px / 2 + (100vw - 1200px) / 2 + 24px * 2)
    left: calc((100vw - 1200px) / 2 + 275px + 878px / 2)
  .buttonNextOnly
    width: calc(878px + (100vw - 1200px) / 2 + 24px * 2)
    left: calc((100vw - 1200px) / 2 + 275px)
  .buttonNextVideo
    width: calc(878px / 4 + (100vw - 1200px) / 2 + 24px * 2)
    left: calc((100vw - 1200px) / 2 + 275px + 878px * 3 / 4)
    bottom: 130px
    top: 70px;

@media (min-width: 1440px)
  .buttonPrev
    width: 50%
  .buttonPrevOnly
    width: 100%
  .buttonPrevVideo
    width: 25%
    bottom: 130px
    top: 70px;

  .buttonNext
    width: 50%
    left: 50%
  .buttonNextOnly
    width: 100%
    left: 0
  .buttonNextVideo
    width: 25%
    left: 75%
    bottom: 130px
    top: 70px;

:global(.no-touchevents)
  .swiper
    display: none

:global(.touchevents)
  .button
    display: none

.play
  width: 30px
  height: 36px
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.video
  object-fit: cover
  object-position: center

.videoBox
  padding-top: (420 / 700 * 100%)
