.introBox
  max-width: 1200px
  margin: 0 auto 
  padding: 36px 42px 88px
  transition: opacity 0.5s ease-out
  @media (max-width: 767px)
    padding: 24px 24px 88px 24px

.intro
  max-width: 744px
  font-size: 42px
  line-height: 1
  letter-spacing: -0.38px
  @media (max-width: 767px)
    font-size: 28px
    line-height: 1
    letter-spacing: -0.25px